<div *ngIf="hero" class="container">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="mb-3">
    <span class="fs-4">ID: {{hero.id}}</span>
  </div>
  <div class="mb-3">
    <label for="hero-name" class="form-label fs-4">Edit Hero Name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" class="form-control" placeholder="Hero name"/>
  </div>
  <button type="button" class="btn btn-return me-2" (click)="goBack()">Return</button>
  <button type="button" class="btn btn-save" (click)="save()">Save Changes</button>
</div>
