/* AppComponent's private CSS styles */
nav a {
  padding: 1rem;
  background-color: #E8E8E8;
  color: #232C34;
  border-radius: 5px;
}
  
.nav-item:hover {
  color: white !important;
  background-color: #42545C;
}

.navbar-nav .nav-link.active {
  background-color: #42545C; 
  color: white; 
}