/* HeroesComponent's private CSS styles */
.btn-add {
  background-color: #78C091;
}

.list-item {
  color: #282C34;
}

.list-item:hover {
  color: white !important;
  background-color: #42545C;
  border: 0.5px solid #42545C;
  border-radius: 5px;
}

.rating-text {
  color: #282C34;
}

.star-rating {
  color: gold;
}

.star-icon {
  cursor: pointer;
}

.star-icon:hover {
  color: black;
}

.btn-delete {
  background-color: #F05D5E;
  color: white;
}