<div id="search-component" class="container mt-3">
  <h2 for="search-box" class="form-label fs-3 search-label">Hero Search</h2>
  <div class="input-group">
    <input #searchBox id="search-box" class="form-control" (input)="search(searchBox.value)" />
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
  </div>

  <ul class="list-group mt-3">
    <li *ngFor="let hero of heroes$ | async" class="list-group-item">
      <a routerLink="/detail/{{hero.id}}" class="text-decoration-none hero-link">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
