/* HeroSearch private styles */
.hero-link {
  color: #282C34;
  padding: 5px;
}

.hero-link:hover {
  background-color: #42545C;
  color: white;
  border: 0.5px solid #42545C;
  border-radius: 5px;
}