/* DashboardComponent's private CSS styles */
h2 {
  text-align: center;
}

.heroes-menu {
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #E8E8E8;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: #232C34;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

a:hover {
  background-color: #42545C;
  color: white;
}